
.blockname {
	width: 23%;
	height: 60px;
	display: inline-block;
	margin: 2px;
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: center;
}

.stockname {
	width: 100%;
	height: 28px;
	font-size: 20px;
}

.stockname p{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	width: 32%;
	line-height: 28px;
}

.stockindex {
	margin-top: 0px;
	text-align: center;	
}