#list-head, #list-content{
	width: 100%;
	height: 50px;
	margin: 0px;
	padding: 0px;
}

#list-content {
	border-bottom: 1px solid #CCCCCC;
}

#stock-price, #stock-changeprice, #stock-cheange-per, .stock-opt {
	width: 19%;
	line-height: 50px;
	font-size: 14px;
	text-align: center;
	display: inline-block;
}

#list-head div {
	width: 19%;
	line-height: 50px;
	font-size: 14px;
	display: inline-block;
	text-align: center;
}

#stock-name  {
	width: 19%;
	height: 50px;
	display: inline-block;
	text-align: center;
}

#stock-name div {
	display: inline-block;
	line-height: 12px;
	width: 100%;
	font-size: 12px;
}
