
.line-box {
	width: 100%;
	height: 30px;
	text-align: left;
	margin-top: 5px;
}


#contest-tip {
	margin-left: 10px;
	width: 25%;
	line-height: 30px;
	display: inline-block;
}


#contest-time {
	font-size: 14px;
	width: 40%;
	line-height: 30px;
	display: inline-block;
}

#contest-status {
	width: 20%;
	line-height: 30px;
	margin-right: 10px;
	text-align: right;
	display: inline-block;
}

#quit-contest, #join-contest, #none-contest {
	width: 50%;
	margin-left: 10px;
	line-height: 30px;
	text-align: left;
	display: inline-block;
}

#enter-market {
	width: 40%;
	margin-right: 10px;
	line-height: 30px;
	text-align: right;
	display: inline-block;
}

#list-rank, #list-rank-tip-head {
	width: 20%;
	line-height: 30px;
	display: inline-block;
	margin-left: 10px;
	text-align: left;
}

#list-username, #list-username-head {
	width: 50%;
	line-height: 30px;
	display: inline-block;
	text-align: center;
}

#list-win-rate, #list-win-rate-head {
	width: 20%;
	margin-right: 10px;
	display: inline-block;
	text-align: right;
}
