.tabwidget {
	height: 40px;
	width: 100%;
	border: 1px solid;
	border-color: #AAAAAA;
	background-color:#EEEEEE;
	/*text-align: center;*/
	overflow: hidden;
	font-size: 16px;
}


.tabitem{
	display: inline;
	text-align: center;
	width: 25%;
	line-height: 40px;
	border-right: solid 1px;
}

.curtab {
	color: #555555;
	background-color: #F9F9F9;
}

#publish {
	width: 100%;
	height: 40px;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

#publish  button {
	margin: 0px;
	padding: 0px;
	width: 90%;
	line-height: 40px;
}

.head {
	width: 100%;
	height: 30px;
	font-size: 16px;
	padding-left: 10px;
}

.head div {
	display: inline-block;
}

.head-img {
	line-height: 30px;
	width: 30px;
}

.head-type {
	width: 30%;
	line-height: 30px;
	padding-left: 3px;
}

.head-time {
	width: 30%;
	line-height: 30px;
	padding-left: 40px;
}

.title {
	width: 100%;
	padding-left: 10px;
	line-height: 30px;
}

.content {
	width: 100%;
	line-height: 30px;
	height: 60px;
	padding-left: 10px;
	overflow:hidden;  
	padding-right: 10px;

    text-overflow:ellipsis;
	white-space:normal !important;
	display:-webkit-box;
	-webkit-line-clamp:2;   
	-webkit-box-orient:vertical; 
}

.tail {
	width: 100%;
	height: 30px;
}

.tail div {
	line-height: 30px;
	display: inline-block;
	padding-left: 20px;
}


