

#bigbox {
	text-align: center;
	width:100%; 
	height: 200px;
}

.box{
	height: 70px;
	width: 28%;
	margin-left: 10px;
	margin-top: 10px;
	line-height: 70px;
	font-size: 20px;
	text-align: center;
	display: inline-block;
}

#box_1 {
	background: rgb(255,128,64);
}


#box_2 {	
	background: rgb(128, 255, 255);
}

#box_3 {
	background: rgb(255,128,255);
}

#box_4 {
	background: rgb(128,128,192);
}

#box_5 {
	background: rgb(128,255,0);
}

#box_6 {
	background: rgb(255,255,128);
}

.mymsg{
	margin-top: 10px;
	line-height: 32px;
	height: 32px;
	width:100%;
	text-align: left;
	padding-left: 10px;
	background-color: #C7C7CC;
}
