#new-topic textarea {
	border: none !important;
	height: 100px;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

#new-topic  p {
	padding: 10px 15px 0;
}

#new-topic  button#submit { 
	margin-top: 20px;
	width: 90%;
	height: 46px;
	left: 50%;
	-webkit-transform: translate(-50%);
}