.posinfo {
	overflow: hidden;
	margin: 0px;
	padding: 0x;
}

.posinfo-left {
	padding-left: 10px;
	width: 50%;
	text-align: left;
	display: inline-block;
}

.posinfo-right {
	width: :50%;
	text-align: left;
	display: inline-block;
}

.posinfo-item {
	line-height: 30px;
	text-align: left;
}

.duibibar {
	margin-top: 5px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding-left: 10px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	background-color: #F9F9F9;
}

.duibibar-2 {
	margin-top: -1px;
	display: inline-block;
	border-top: 1px solid;
	border-bottom: 1px solid;
	width: 100%;
	height: 25px;
	text-align: center;
}

.duibibar-3 {
	display: inline-block;
	width: 23%;
	text-align: center;
	line-height: 25px;
}

.line-box {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid;
}

.line-box-item {
	width:49%;
	display: inline-block;
	line-height: 30px;
}

.line-box-item  button{
	width: 50%;
	height: 80%;
	margin: 0px auto;
	padding: 0px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
}