
.line-box-author {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	
	height: 38px;
	
	padding-bottom: 2px;
	border-bottom: 1px solid #B6B6B6;
	margin-top: 5px;
}

.line-box-author img {
	height: 38px;
	width: 38px;
	line-height: 38px;
	border-radius: 50%;
	display: inline-block;
}

#user-info {
	height: 38px;
	line-height: 38px;
	/*margin-top: -5px;*/
	display: inline-block;
}

#user-nick, #pubtime {
	margin: 0 auto;
	padding: 0px;
	height: 16px;
	display: inline-block;
	float: left;
}

.follow-btn {
	line-height: 38px;
	float: right;
	display: inline-block;
}

#topic-content {
	padding: 10px;
	line-height: 20px;
	font-size: 16px;
	min-height: 80px;
}

.tail {
	width: 100%;
	height: 30px;
}

.tail div {
	line-height: 30px;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
}

.head {
	width: 100%;
	height: 30px;
	font-size: 14px;
	padding-left: 10px;
	margin-top: 13px;
}

.head div {
	display: inline-block;
}

.head-img {
	line-height: 30px;
	width: 30px;
}

.head-type, .head-user {
	line-height: 30px;
	padding-left: 5px;
}

.head-time {
	width: 30%;
	line-height: 30px;
	padding-left: 40px;
}

.head-reply-user {
	line-height: 30px;
	width: 30px;
}

.reply-item {
	border-bottom: 2px solid #8F8F94;
	margin-bottom: 5px;
	
	background-color: yellowgreen;
}

.content {
	margin-top: 5px;
	padding-left: 40px;
	min-height: 40px;
	display: block;
}

#button-bar {
	width: 100%;
	height: 40px;
	line-height: 40px;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

#mark{
	width: 49.5%;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	
	background-color: darkred;
}

#reply {
	width: 49%;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	
	background-color: yellowgreen;
}

#bottom-bar button{
	width: 100%;
	height: 40px;
	line-height: 40px;
}
