<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/contestDetail.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">比賽詳情</h1>
		</header>
		<div  class="mui-content">
			<div id="contest_data">
			<div class="mui-card" style="width: 100%;margin-top: 0px auto; margin-left: 0px;">
				<div class="mui-card-header mui-card-media" style="height:40vw;background-image:url(datas.logo)"></div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						<p>{{datas.createuser}} 創建於 {{datas.createtime}}</p>
						<p style="color: #333;">{{datas.desc}}</p>
					</div>
				</div>
			</div>
				<div class="line-box">
					<div id="contest-tip" style="width: 25%;">
						比賽時間：
					</div>
					<div id="contest-time" style="font-size: 12px;width: 40%;">
						{{datas.stime}} ~ {{datas.etime}}
					</div>
					<div id="contest-status" style="width: 25%;display: inline-block;">
						<span  v-if="datas.status == 0" style="margin-right: 10px;">
						未開始
						</span>
						<span  v-else-if="datas.status == 1" style="color: green;margin-right: 10px;">
						進行中
						</span>
						<span v-else='' style="color:red;margin-right: 10px;">
						已結束
						</span>
					</div>					
				</div>
				
				<div class="line-box">
					<div id="contest-winrate"  style="display: inline-block;width: 50%;line-height: 30px;margin-left: 10px;">
						盈利率：<span v-if="datas.winrate">
							{{datas.winrate}}
						</span>
						<span v-else="">
							--
						</span>
					</div>
					<div id="contest-rank" style="display: inline-block;width: 40%;line-height: 30px;text-align: right; margin-right:10px">
						排名: <span id="" v-if="datas.rank && datas.rank>0">
							{{datas.rank}}
						</span>
						<span id="" v-else="" style="color: red;">
							暫無排名
						</span>
					</div>
				</div>
				<div class="line-box">
					<div id="quit-contest" v-if="datas.join==1" style="color: royalblue;" @tap="quit_contest(datas)">
						退出比賽
					</div>
					<div id="join-contest" v-else-if="datas.join==0" style="color: royalblue;" @tap="join_contest(datas)">
						加入比賽
					</div>
					<div id="none-contest" v-else-if="datas.join==2" style="color: #EEEEEE;">
						不可加入
					</div>
					<div id="enter-market" style="color: royalblue;" @tap="enter_market(datas)">
						進入交易
					</div>
				</div>
				<div class="line-box">
					<div id="list-rank-tip-head">
						排名
					</div>
					<div id="list-username-head">
						用戶名
					</div>
					<div id="list-win-rate-head">
						盈利率
					</div>
				</div>
			</div>
			<div id="list-users">
				<div id="list-users-item" v-for="it in datas">
					<div id="list-rank">
						{{it.rank}}
					</div>
					<div id="list-username" @tap="user_info(it)" style="color: cornflowerblue;">
						{{it.user}}
					</div>
					<div id="list-win-rate">
						{{it.rate}}
					</div>						
				</div>
			</div>
		</div>
		
	</body>
	<script src="js/mui.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/vue.min.js"></script>
	<script type="text/javascript">
//		mui.init()

	</script>
	<script type="text/javascript" src="js/contestDetail.js" ></script>
</html>