<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="css/matchs.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<style>
			ul {
				font-size: 14px;
				color: #8f8f94;
			}
			.mui-btn {
				padding: 10px;
			}
			body{
				margin: 0px auto;
				padding: 0px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<button type="button" class="mui-btn fl" id="creatematchs" style="border: 0px;">創建比賽</button>
			<h1 class="mui-title" id="title">大賽</h1>
			<button type="button" class="mui-btn fr" id="searchmatchs" style="border: 0px;">搜索比賽</button>
		</header>
		
		<div class="mui-content mui-scroll-wrapper" id="pullrefreshArea">
		<div class="mui-scroll">
			<div class="tabwidget">
				<div id="tab1" class="fl curtab">
					最新大賽
				</div>
				<div id="tab2" class="fr">
					我的大賽
				</div>
			</div>
			<div id="matchslist">
				<ul class="mui-table-view" id='list-data'>
					<li class="mui-table-view-cell mui-media" v-for="it in datas">
						<img :src="it.logo" class="mui-media-object mui-pull-left"/>
						<div id="" class="mui-media-body" @tap="contestDetail(it)">
							{{it.title}}
							<p>{{it.desc}}</p>
							<p>{{it.createuser}} 創建于 {{it.createtime}}
								<span class="fr" v-if="it.status == 0">
								未開始
								</span>
								<span class="fr" v-else-if="it.status == 1" style="color: green;">
								進行中
								</span>
								<span class="fr" v-else='' style="color:red">
								已結束
								</span>
							</p>
						</div>
					</li>
				</ul>
			</div>
			<div id="mymatchs" class="mui-hidden">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media" v-for="it in datas">
						<img :src="it.logo" class="mui-media-object mui-pull-left"/>
						<div id="" class="mui-media-body" @tap="contestDetail(it)">
							{{it.title}}
							<p>{{it.desc}}</p>
							<p>{{it.createuser}} 創建于 {{it.createtime}}
								<span class="fr" v-if="it.status == 0">
								未開始
								</span>
								<span class="fr" v-else-if="it.status == 1" style="color: green;">
								進行中
								</span>
								<span class="fr" v-else='' style="color:red">
								已結束
								</span>
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		</div>
		
	</body>
	<script src="js/mui.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/matchs.js"></script>
	<script>
		
		mui.plusReady(function(){
			function onRefreshMatchs() {
				console.log("onRefreshMatchs");
				mui('#pullrefreshArea').pullRefresh().endPulldownToRefresh();
			}
			
			mui.init({
			  pullRefresh : {
			  	swipeBack:false,
			    container:"#pullrefreshArea",//下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
			    down : {
			      contentrefresh:"正在刷新",
			      contentmore: '刷新完成',
			      style:'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
			      color:'#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
			      height:'50px',//可选,默认50px.下拉刷新控件的高度,
			      range:'100px', //可选 默认100px,控件可下拉拖拽的范围
			      offset:'0px', //可选 默认0px,下拉刷新控件的起始位置
			      auto: true,//可选,默认false.首次加载自动上拉刷新一次
			      callback:onRefreshMatchs //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
			    }
			  }
			});
			
			// 最新大賽和我的大賽點擊處理
			mui("#tab1")[0].addEventListener('tap', function(){
				console.log("tab1");
				
				document.getElementById("tab2").classList.remove("curtab");
				document.getElementById("tab1").classList.add("curtab");
				
				var matchslist = document.getElementById("matchslist");
				matchslist.classList.remove("mui-hidden");
				
				var mymatchs = document.getElementById("mymatchs");
				mymatchs.classList.add("mui-hidden");
			});
			
			mui("#tab2")[0].addEventListener('tap', function(){
				console.log("tab2");
				
				document.getElementById("tab1").classList.remove("curtab");
				document.getElementById("tab2").classList.add("curtab");
				
				var matchslist = document.getElementById("matchslist");
				matchslist.classList.add("mui-hidden");
				
				var mymatchs = document.getElementById("mymatchs");
				mymatchs.classList.remove("mui-hidden");
			});
			
			
			// show  event
			var self = plus.webview.currentWebview();
            self.addEventListener('show',function(){
                console.log('matchs.html show event triggered.');
               
            });
			
		});  // end plusReady
		
		
		function toContestDetail(item) {
			console.log("toContestDetail...");
			
			var pg_contest_detail = mui.preload({
				url:"contestDetail.html",
				id:"contestDetail",//默认使用当前页面的url作为id
			});
			
			mui.fire(pg_contest_detail,'display',{data:item});
			//打开個股詳情
			mui.openWindow({
				id:'contestDetail'
			});
		}
		//data	   -- contest list
		var list_data = new Vue({
			el:'#list-data',
			data:{
				datas:{}
			},
			methods:{
				resetData:function(){//重置数据
					Object.assign(this.$data, {});
				},
				
				contestDetail:function(item){
					toContestDetail(item);
				}
			}
		});
		
		
		function cb_contest_list_handler(data){
			console.log(JSON.stringify(data));
			
			for(var it in data) {
				data[it].createtime = data[it].createtime.substring(0, 10);
				
				console.log(JSON.stringify(data[it]) );
			}
			
			list_data.datas = data;
		};
		
		function get_contest_list(){
			var  postdata = {}
					
			app.fillToken(postdata);
			app.fillRn(postdata);			
		
			mui.ajax({
            type: "get",
			url: urls.url_listContest,
			data:postdata,
            timeout: 3000,
            success: function(data) {
            	console.log("success:" + urls.url_listContest);
            	
            	if(data['errcode'] != 0){
            		plus.nativeUI.toast(data['errmsg']);
            		return;
            	}
            	
            	cb_contest_list_handler(data.retdata);
            },
            error: function(xhr, type, errorThrown) {
                plus.nativeUI.toast(errorThrown);
            }
        });// ajax
		};
		
		var mymatchsVm = new Vue({
			el:'#mymatchs',
			data:{
				datas:{}
			},
			methods:{
				resetData:function(){//重置数据
					Object.assign(this.$data, {});
				},
				
				contestDetail:function(item){
					toContestDetail(item);
				}
			}
		});
		function cb_contest_user_list_handler(data){
//			console.log(JSON.stringify(data));
			
			for(var it in data) {
				data[it].createtime = data[it].createtime.substring(0, 10);
			}
			
			mymatchsVm.datas = data;
		};
		
		function get_contest_user_list(){
			var  postdata = {}
					
			app.fillToken(postdata);
			app.fillRn(postdata);			
		
			mui.ajax({
	            type: "get",
				url: urls.url_listUserContest,
				data:postdata,
	            timeout: 3000,
	            success: function(data) {
	            	console.log("success:" + urls.url_listUserContest);
	            	
	            	if(data['errcode'] != 0){
	            		plus.nativeUI.toast(data['errmsg']);
	            		return;
	            	}
	            	
	            	cb_contest_user_list_handler(data.retdata);
	            },
	            error: function(xhr, type, errorThrown) {
	                plus.nativeUI.toast(errorThrown);
	            }
	        });// ajax
		};
		
		window.addEventListener('display', function(event){
			console.log("比賽頁面顯示：");
			
			get_contest_list();
			get_contest_user_list();
		});
	</script>
</html>
