<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/discuss.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/iconfont.css" rel="stylesheet" />
		<!--<link href="http://at.alicdn.com/t/font_1032365_ho70s9eh387.css" rel="stylesheet" />-->
		<style>
			ul {
				font-size: 14px;
				color: #8f8f94;
			}
			.mui-btn {
				padding: 10px;
			}
			body{
				margin: 0px auto;
				padding: 0px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<h1 class="mui-title" id="title">討論</h1>
		</header>
		<div class="mui-content mui-scroll-wrapper" id="pullrefreshArea" style="margin-bottom: 35px;">
			<div class="mui-scroll">
				<div class="tabwidget">
					<div id="tab1" class="tabitem fl curtab">
						最熱
					</div>
					<div id="tab2" class="tabitem fl">
						最新
					</div>
					<div id="tab3" class="tabitem fl">
						關注
					</div>
					<div id="tab4" class="tabitem fl">
						我的
					</div>
				</div>      <!--   end tabwidget     -->
				
				<div id="hot" class="">
					<div id="hotvm">
                    <div v-for="it in datas" class="msg-item" style="background-color: #FAFAFA;">
						<div class="head">
							<div id="head-img" style="line-height: 30px;">
								<img :src="it.uheadurl" style="width: 30px; height: 30px;"/>
							</div>
							<div id="head-type">
								<span id="" style="color: royalblue;" @tap="toUserinfo(it)">
									{{it.uname}}
								</span> 
								<span id="" style="color: #555555;">
									{{it.type_desc}}
								</span>
							</div>
							<div id="head-time">
								<span id="" style="color: darkgray;">
									{{it.time}}之前
								</span>
							</div>
						</div>
						<div class="title" style="margin-top: 5px;" @tap="toTopicDetail(it)">
							<span id="" style="color: royalblue;">
							{{it.title}}
							</span> 
						</div>
						<div class="content mui-ellipsis">
							{{it.content}}
						</div>
						<div class="tail">
							<div class="upcount" @tap="upCountTopic(it)">
								{{it.upcounts}}<span class=" iconfont icon-dianzan"></span>
							</div>
							<div class="replay">
								{{it.replays}}<span class="iconfont icon-pinglun3-copy"></span>
							</div>
							<div class="viewcount">
								{{it.interviews}}<span class="iconfont icon-liulanliang"></span>
							</div>
						</div>
					</div>				
					</div>
				</div>
				<div id="newest" class="mui-hidden">
					<div id="newestvm">
					<div v-for="it in datas" class="msg-item" style="background-color: #FAFAFA;">
						<div class="head">
							<div id="head-img" style="line-height: 30px;">
								<img :src="it.uheadurl" style="width: 30px; height: 30px;"/>
							</div>
							<div id="head-type" style="color: royalblue;" @tap="toUserinfo(it)">
								{{it.uname}} {{it.type}}
							</div>
							<div id="head-time">
								{{it.time}}
							</div>
						</div>
						<div class="title" style="margin-top: 5px;" @tap="toTopicDetail(it)">
							<span id="" style="color: royalblue;">
							{{it.title}}
							</span> 
						</div>
						<div class="content mui-ellipsis">
							{{it.content}}
						</div>
						<div class="tail">
							<div class="upcount" @tap="upCountTopic(it)">
								{{it.upcounts}}<span class="iconfont icon-dianzan"></span>
							</div>
							<div class="replay">
								{{it.replays}}<span class="iconfont icon-pinglun3-copy"></span>
							</div>
							<div class="viewcount">
								{{it.interviews}}<span class="iconfont icon-liulanliang"></span>
							</div>
						</div>
					</div>
					</div>
				</div>
				<div id="care" class="mui-hidden">
					<div id="carevm">
					<div id="" v-for="it in datas" class="msg-item" style="background-color: #FAFAFA;">
						<div class="head">
							<div id="head-img" style="line-height: 30px;">
								<img :src="it.uheadurl" style="width: 30px; height: 30px;"/>
							</div>
							<div id="head-type"  style="color: royalblue;" @tap="toUserinfo(it)">
								{{it.uname}} {{it.type_desc}}
							</div>
							<div id="head-time">
								{{it.time}}
							</div>
						</div>
						<div class="title" style="margin-top: 5px;" @tap="toTopicDetail(it)">
							<span id="" style="color: royalblue;">
							{{it.title}}
							</span> 
						</div>
						<div class="content mui-ellipsis">
							{{it.content}}
						</div>
						<div class="tail">
							<div class="upcount" @tap="upCountTopic(it)">
								{{it.upcounts}}<span class="iconfont icon-dianzan"></span>
							</div>
							<div class="replay">
								{{it.replays}}<span class="iconfont icon-pinglun3-copy"></span>
							</div>
							<div class="viewcount">
								{{it.interviews}}<span class="iconfont icon-liulanliang"></span>
							</div>
						</div>
					</div>
					</div>
				</div>
				<div id="mine" class="mui-hidden">
					<div id="minevm">
					<div id="" v-for="it in datas" class="msg-item">
						<div class="head">
							<div id="head-img" style="line-height: 30px;">
								<img :src="it.uheadurl" style="width: 30px; height: 30px;"/>
							</div>
							<div id="head-type" @tap="toUserinfo(it)">
								{{it.uname}} {{it.type}}
							</div>
							<div id="head-time">
								{{it.time}}
							</div>
						</div>
						<div class="title" style="margin-top: 5px;" @tap="toTopicDetail(it)">
							<span id="" style="color: royalblue;">
							{{it.title}}
							</span> 
						</div>
						<div class="content mui-ellipsis">
							{{it.content}}
						</div>
						<div class="tail">
							<div class="upcount" @tap="upCountTopic(it)">
								{{it.upcounts}}<span class="iconfont icon-dianzan"></span>
							</div>
							<div class="replay">
								{{it.replays}}<span class="iconfont icon-huifu"></span>
							</div>
							<div class="viewcount"> 
								{{it.interviews}}<span class="iconfont icon-liulanliang"></span>
							</div>
						</div>
					</div>
					</div>
				</div>
			
			</div>
			<div id="publish" class="mui-hidden" style="text-align:center;">
				<button type="button" class="mui-btn mui-btn-warning" >發表帖子</button>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/vue.min.js"></script>
	<script>
		
		//  預先定義好 頁面變量， 此變量需要在pluseReady中加載，後面發送事件喚醒頁面
		var userinfoPage, topicDetailPage;  
		
	</script>
	<script src="js/discuss.js"></script>
</html>
