<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/myfavoritestock.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">自选股</h1>
		</header>
		<div id="" class="mui-content">
			<div style="width: 100%;display: inline-block; text-align: center;">
				<div class="mui-input-row mui-search">
					<input id="search" type="search" class="mui-input-clear" placeholder="股票名/代碼" />
				</div>
			</div>
			<div id="stock-title">
				<p>股票名</p>
				<p>股價</p>
				<p>漲跌</p>
				<p>操作</p>
			</div>
			
			<div id="stockListVm">
			<div id="" class="stock-box" v-for="it in datas">
				<div id="" class="stock-name" @tap='toStockDetail(it)'>
					<p style="line-height: 20px;">{{it.name}}</p>
					<p style="line-height: 20px;">{{it.code}}</p>
				</div>
				<div id="" class="stock-price">
					{{it.cur_price}}
				</div>
				<!-- 漲跌幅--->
				<div id="" class="stock-inc" v-if="it.change_per < 0" style="color: green;">
					{{it.change_per}}%
				</div>
				<div id="" class="stock-inc" v-else-if="it.change_per == 0" >
					{{it.change_per}}%
				</div>
				<div id="" class="stock-inc" v-else-if="it.change_per > 0" style="color: red;">
					{{it.change_per}}%
				</div>
				
				<div class="stock-opt">
					<button type="button" class="mui-btn mui-btn-danger" @tap='delstockRequest(it, delFavoriteStock)'>刪除</button>
				</div>
			</div>
		</div>		<!--  data id -->
		</div>   
		
	</body>
	<script src="js/mui.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/jquery-min.js"></script>
	<script src="js/hq.js"></script>
	<script src="js/vue.min.js"></script>
	<script type="text/javascript">
		mui.init();
		
	</script>
	<script type="text/javascript" src="js/myfavoritestock.js" ></script>
</html>