<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/userinfo.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title mui-ellipsis">TA的個人信息</h1>
		</header>
		<div class="mui-content mui-scroll-wrapper" id="pullrefreshArea">
		<div class="mui-scroll">
			<div id="userinfo">
				<div id="backimg">
						<img :src="dat.uheadurl" id="headimg"/>
				</div>
				<div id="info-bar" style="border-bottom: 1px solid #AAAAAA;">
					<a >關注 {{20}}</a>
					<a >粉絲 {{60}}</a>
					<a >等級 {{dat.ulevel}}</a>
					<a  v-if="dat.urank!=0">排名 {{dat.urank}}</a>
					<a  v-else >排名 <span style="color: orangered;">
						暫無排名
					</span> </a>
				</div>
				<div id="wealth-bar" style="border-bottom: 1px solid #AAAAAA;">
					<a >縂盈利率 {{dat.uearnrate}}%</a>
					<a >月盈利率 {{dat.uearnratemon}}%</a>
					<a >成功率 {{dat.uwinrate}}%</a>
				</div>
			</div>
			<!--
            	作者：offline
            	时间：2018-07-25
            	描述：資產走勢、漲幅圖表
            -->
            <div id="tab-bar">
            	<div id="tabwealth" class="tabitem fl curtab">
            		資產走勢
            	</div>
            	<div id="tabchart" class="tabitem fr">
            		漲幅對比(滬深300)
            	</div>
            </div>
            <div id="wealthchart" class="chartarea" style="height: 180px;">
            	測試數據wealthchart
            </div>
            <div id="trendchart" class="mui-hidden chartarea" style="height: 180px;">
            	測試數據trendchart
            </div>
            
            <div id="dongtai-bar" class="mui-scroll">
         		<div id="dongtai-bar-title">
         			最新動態
         		</div>
         		<div id="dongtai-bar-item" v-for="it in datas">
         			<div id="" style="text-align: left;">
	         			<div id="dongtai-bar-head" style="float:left;">
	         				<img :src="it.uheadurl" style="width: 32px; height: 32px;"/>
	         			</div>
	         			<div id="dongtai-bar-uname" style="float:left">
	         				{{it.uname}}
	         			</div>
	         			<div id="dongtai-bar-type" style="float:left">
	         				{{it.type_desc}}
	         			</div>
	         			<div id="dongtai-bar-msg" style="float:left" class="mui-ellipsis">
	         				{{it.extmsg}}
	         			</div>
	         			<div id="dongtai-bar-btn" style="float:right">
	         				<button id='btn-view' type="button" class="mui-btn mui-btn-warning" style="height: 32px;">查看</button>
	         			</div>
         			</div>
         		</div>
         	</div>
		</div>
		</div>
		
	</body>
	<script src="js/mui.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/userinfo.js"></script>
	<script src="js/vue.min.js"></script>
	<script type="text/javascript">
		
		var dongtai = new Vue({
        	el:'#dongtai-bar',
        	data:{
        		datas:{}
        	},
        	methods:{
        		
        	}
        });
        
        function get_user_dongtai(){
        	var postdata = {}
        	
        	postdata.userid = pramaData.uid;
		
			app.fillToken(postdata);
		
			mui.ajax({
	            type: "get",
				url: urls.url_dongtaiByUser,
				data:postdata,
	            timeout: 3000,
	            success: function(data) {
	            	console.log("success: URL:" + urls.url_dongtaiByUser );
	            	
	            	if(data['errcode'] == 0){
	            		dongtai.datas = data['retdata'];
	            		console.log(JSON.stringify(data['retdata']));
	            	} else {
	            		plus.nativeUI.toast(data['errmsg']);
	            	}
	            },
	            error: function(xhr, type, errorThrown) {
	                plus.nativeUI.toast(errorThrown);
	            }
	        });// ajax
        };
		
		var uinfo = new Vue({
        	el:'#userinfo',
        	data:{
				dat:{}
			},
        });
        
        function getUserinfo(){
        	var postdata = {}
		
			app.fillToken(postdata);
		
			mui.ajax({
	            type: "get",
				url: urls.url_userinfo + pramaData.uid,
				data:postdata,
	            timeout: 3000,
	            success: function(data) {
	            	console.log("success: URL:" + urls.url_userinfo + pramaData.uid );
	            	
	            	if(data['errcode'] == 0){
	            		uinfo.dat = data['retdata'];
	            		console.log(JSON.stringify(data['retdata']));
	            	} else {
	            		plus.nativeUI.toast(data['errmsg']);
	            	}
	            },
	            error: function(xhr, type, errorThrown) {
	                plus.nativeUI.toast(errorThrown);
	            }
	        });// ajax

        };
		
		window.addEventListener("display", function(event){			
			pramaData = event.detail.data;
			
			mui(".mui-title")[0].innerText = pramaData.uname + " 的個人信息";
			console.log("userinfo page display: " + JSON.stringify(pramaData));
			
			getUserinfo();
			
			get_user_dongtai();
		});
	</script>
</html>